In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
def get_data(pages):
    data = {
            'title': [], 'priceDescription': [], 'propertyType': [],
            'suburb': [], 'bedroom':[], 'bathroom':[], 'garage':[],'parking':[],'erfSize':[],'buildingSize':[],
        }

    for no_page in range(2, pages):
        #print("page"+str(no_page))
        url = 'https://www.pamgolding.co.za/property-search/properties-for-sale-cape-town/3080/page' + \
            str(no_page)
        page = requests.get(url)
        page_content = page.content
        soup = BeautifulSoup(page_content, 'lxml')
        items = soup.find('div', class_="row white-row listings-results-wrapper galleryView").find_all('div', class_="row search-property-item")
       # print(items)
        
        for i in items:
            #print( i)
            try:
                title = i.find('div',class_="row content-row").find('h2',class_="property-description-link")
                data['title'].append(title.text)
            except:
                #Fill misisng values
                data['title'].append('missing_info')
            try:
                price = i.find('div',class_="row content-row").find('p',class_="price")
                data['priceDescription'].append(price.text)
            except:
                #Fill misisng values
                data['priceDescription'].append('missing_info')

            
            try:
                bedroom = i.find('div',class_="row content-row").find(
                'div',class_="propertyFeatures col-sm-12 col-lg-12").find(
                'div', class_="propertyFeature bedroom").find("p")
                data['bedroom'].append(bedroom.text)
            except:
                #Fill misisng values
                data['bedroom'].append(0)
           
            try:
                bathroom = i.find('div',class_="row content-row").find(
                'div',class_="propertyFeatures col-sm-12 col-lg-12").find(
                'div', class_="propertyFeature bathroom").find("p")
                data['bathroom'].append(bathroom.text)
            except:
                #Fill misisng values
                data['bathroom'].append(0)
           

            try:
                garage = i.find('div',class_="row content-row").find(
                'div',class_="propertyFeatures col-sm-12 col-lg-12").find(
                'div', class_="propertyFeature garage").find("p")
                data['garage'].append(garage.text)
            except:
                #Fill misisng values
                data['garage'].append(0)
            

            
            try:
                parking = i.find('div',class_="row content-row").find(
                'div',class_="propertyFeatures col-sm-12 col-lg-12").find(
                'div', class_="propertyFeature parking").find("p")
                data['parking'].append(parking.text)
            except:
                #Fill misisng values
                data['parking'].append(0)
            

            
            try:
                erfSize = i.find('div',class_="row content-row").find(
                'div',class_="propertyFeatures col-sm-12 col-lg-12").find(
                'div', class_="propertyFeature erfSize").find("p")
                data['erfSize'].append(erfSize.text)
            except:
                #Fill misisng values
                data['erfSize'].append(0)
           

            
            try:
                buildingSize = i.find('div',class_="row content-row").find(
                'div',class_="propertyFeatures col-sm-12 col-lg-12").find(
                'div', class_="propertyFeature buildingSize").find("p")
                data['buildingSize'].append(buildingSize.text)
            except:
                #Fill misisng values
                data['buildingSize'].append(0)
            
        

    data = pd.DataFrame({ key:pd.Series(value) for key, value in data.items() })
    return data

In [3]:
%%time 
data = get_data(181)
data = data[data['title'].notna()]
data

Wall time: 3min 37s

c:\python37\lib\site-packages\ipykernel_launcher.py:96: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

,title,priceDescription,propertyType,suburb,bedroom,bathroom,garage,parking,erfSize,buildingSize
0,3 bedroom apartment for sale in Clifton,\r\n ...,NaN,NaN,3,3,0,0,0,310 m²
1,7 bedroom house for sale in Constantia Upper,\r\n ...,NaN,NaN,7,7,3,0,"7,555 m²",0
2,3 bedroom house for sale in Bantry Bay,\r\n ...,NaN,NaN,3,3.5,2,0,626 m²,0
3,5 bedroom house for sale in Fresnaye,\r\n ...,NaN,NaN,5,5,4,4,"1,044 m²",900 m²
4,3 bedroom apartment for sale in Bantry Bay,\r\n ...,NaN,NaN,3,3,2,0,0,546 m²
...,...,...,...,...,...,...,...,...,...,...
1779,1 bedroom house for sale in Maitland,\r\n ...,NaN,NaN,1,1,0,1,0,26 m²
1780,429 m² residential vacant land for sale in Kl...,\r\n ...,NaN,NaN,0,0,0,0,429 m²,0
1781,2 bedroom house for sale in Mandela Park,\r\n ...,NaN,NaN,2,1,0,0,108 m²,0
1782,2 bedroom house for sale in Khayelitsha,\r\n ...,NaN,NaN,2,1,0,0,99 m²,0
1783,66 m² commercial office for sale in Mitchells...,\r\n ...,NaN,NaN,0,0,0,0,0,66 m²

In [4]:
data.to_csv("house_price_data.csv",encoding = "utf-8")